/* ====================================================== 
   <!-- Parallax -->                                        
/* ====================================================== */
@import '@/components/_utils/styles/_variable-and-mixin.scss';

.poemui-parallax {
	position: relative;
	width: 100%;
	background-attachment: fixed;
	@include background-cover();
	
	height: auto;
	width: 100%;
	
	.poemui-parallax__img {
	    visibility: hidden;
	}
}
